<a href="https://colab.research.google.com/github/division-zero/Data-602project/blob/main/07_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 7**

# **Weeks 8 & 9 - Pandas**
* In this homework assignment, you will explore and analyze a public dataset of your choosing. Since this assignment is “open-ended” in nature, you are free to expand upon the requirements below. However, you must meet the minimum requirments as indicated in each section.

* You must use Pandas as the **primary tool** to process your data.

* The preferred method for this analysis is in a .ipynb file. Feel free to use whichever platform of your choosing.  
 * https://www.youtube.com/watch?v=inN8seMm7UI (Getting started with Colab).

* Your data should need some "work", or be considered "dirty".  You must show your skills in data cleaning/wrangling.

### **Some data examples:**
•	https://www.data.gov/

•	https://opendata.cityofnewyork.us/

•	https://datasetsearch.research.google.com/

•	https://archive.ics.uci.edu/ml/index.php

### **Resources:**

•	https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html

•	https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html


### **Headings or comments**
**You are required to make use of comments, or headings for each section.  You must explain what your code is doing, and the results of running your code.**  Act as if you were giving this assignment to your manager - you must include clear and descriptive information for each section.

### **You may work as a group or indivdually on this assignment.**

# Introduction

In this section, please describe the dataset you are using.  Include a link to the source of this data.  You should also provide some explanation on why you choose this dataset.

The dataset being used is from world integrated trade solution.  This is GNI(Gross National Income per capita) which provides an estimate of the average income for a person in a country.  It is divided up by countries and there is data from 2000 to 2022.  It has several missing values for some countries. I chose this dataset because I was thinking of using it for the upcoming project.
https://wits.worldbank.org/CountryProfile/en/Country/BY-COUNTRY/StartYear/2000/EndYear/2022/Indicator/NY-GNP-PCAP-CD#

______________
# Data Exploration
Import your dataset into your .ipynb, create dataframes, and explore your data.  

Include:

* Summary statistics means, medians, quartiles,
* Missing value information
* Any other relevant information about the dataset.

In [5]:
import pandas as pd
#GNI per capita by country (income)
GNI_capita = "https://github.com/awrubes/AdvProg_Project/raw/refs/heads/main/GNI%20per%20capita%20WITS-Country-Timeseries%20(1).xlsx"
gni_capita_df = pd.read_excel(GNI_capita)
#view data
print(gni_capita_df.head())
#statistics for each year
gni_capita_df.describe()
#statistics for each row/Country
row_stats = gni_capita_df.apply(pd.DataFrame.describe, axis=1)

print(row_stats)
#finding missing values per column
missing_values = gni_capita_df.isnull().sum()

print(missing_values)

Country Name       0
Indicator Name     0
2000              16
2001              17
2002              11
2003              10
2004              10
2005              10
2006               9
2007               9
2008              10
2009               9
2010               6
2011               6
2012               7
2013               7
2014               6
2015               6
2016               6
2017               6
2018               6
2019               6
2020               9
2021              10
2022              19
dtype: int64

# Data Wrangling
Create a subset of your original data and perform the following.  

1. Modify multiple column names.

2. Look at the structure of your data – are any variables improperly coded? Such as strings or characters? Convert to correct structure if needed.

3. Fix missing and invalid values in data.

4. Create new columns based on existing columns or calculations.

5. Drop column(s) from your dataset.

6. Drop a row(s) from your dataset.

7. Sort your data based on multiple variables.

8. Filter your data based on some condition.

9. Convert all the string values to upper or lower cases in one column.

10. Check whether numeric values are present in a given column of your dataframe.

11. Group your dataset by one column, and get the mean, min, and max values by group.
  * Groupby()
  * agg() or .apply()

12. Group your dataset by two columns and then sort the aggregated results within the groups.

**You are free (and should) to add on to these questions.  Please clearly indicate in your assignment your answers to these questions.**

In [7]:
import numpy as np
import pandas as pd
#GNI per capita by country (income)
GNI_capita = "https://github.com/awrubes/AdvProg_Project/raw/refs/heads/main/GNI%20per%20capita%20WITS-Country-Timeseries%20(1).xlsx"
gni_capita_df = pd.read_excel(GNI_capita)
#view data
print(gni_capita_df.head())
#statistics for each year
gni_capita_df.describe()
#statistics for each row/Country
row_stats = gni_capita_df.apply(pd.DataFrame.describe, axis=1)

print(row_stats)
#finding missing values per column
na_miss = gni_capita_df.isnull().sum()

print(na_miss)
#data subset
gni_capita_df
#selected United States, Italy, India, and Greece for analysis
gni_sub = gni_capita_df[gni_capita_df['Country Name'].isin(['United States', 'Italy', 'India', 'Greece'])]
print(gni_sub.head())

#rename the first two columns.
gni_sub = gni_sub.rename(columns={"Country Name": "Country", "Indicator Name": "Currency Type"})
print(gni_sub.columns)

#data structures
print(gni_sub.dtypes)
#Each type or data structure seems to be consistant

#fix missing values.

#how many missing values?
na_miss = gni_sub.isnull().sum()
print(na_miss)


#which rows are missing values
na_row = gni_sub[gni_sub.isnull().any(axis=1)]

print(na_row)
#greece is missing values

#replace the missing values with the mean of the row.  if you do not specify that the mean should only be calculated
#using only the numbers of a row, you will get an error. can apply to all rows.
numeric_only = gni_sub.select_dtypes(include=np.number).columns  # Select columns with numeric values.
#fill in the na values with the average of the columns that have values per row.
gni_sub[numeric_only] = gni_sub[numeric_only].apply(
    lambda row: row.fillna(row.mean()), axis=1
)


#now there are no missing values.
na_miss = gni_sub.isnull().sum()
print(na_miss)

#Create new columns based on existing columns or calculations.
# how about a column with the mean of the rows
gni_sub["avg_gni"] = gni_sub.select_dtypes(include=np.number).mean(axis=1)
print(gni_sub.head())

#pick a column to remove
print(gni_sub.columns)
#remove the column year 2000 from the data frame
gni_sub = gni_sub.drop(columns=["2000"])
print(gni_sub.columns) # column 2000 successfully removed

#pick a row to remove.

#remove the row that contains Greece under country
#keeps all rows that do not have greece
gni_sub = gni_sub[gni_sub['Country'] != 'Greece']
print(gni_sub)
#Row with Greece successfully dropped.

#Sort your data based on multiple variables
#sorting the data by country name z to a.
gni_ztoa = gni_sub.sort_values(by='Country', ascending=False)

print(gni_ztoa['Country'])
#sorting based on average GNI per capita
gni_sub = gni_sub.sort_values(by='avg_gni', ascending=False)
print(gni_sub)

#filtering data

#filter to remove countries with less than 20000 GNI per capita
gni_20k = gni_sub[gni_sub['avg_gni'] > 20000]
print(gni_20k)

#Convert all the string values to upper or lower cases in one column.
# Convert all the strings in the 'Country' column to lowercase
gni_sub['Country'] = gni_sub['Country'].str.lower()

print(gni_sub["Country"])
#gni_sub.columns
#make a column of booleans checking if a value is numeric
gni_sub['country numeric'] = pd.to_numeric(gni_sub['Country'], errors='coerce').notna()
print(gni_sub[['Country','country numeric']])


#mean min and max values for each country
#first drop currency type, the boolean column, and the average gni to avoid confusion
gni_simple = gni_sub.drop(columns = ["Currency Type",'avg_gni','country numeric'])
#calculating the mean min and max for each country
gni_stat = gni_simple.groupby('Country').agg(['mean', 'min', 'max'])

print(gni_stat)
#unfortunately it takes the mean min and max for each year separately
#need to melt in order for it to calculate the mean min and max for a single column

#in order to melt so all the GNI values are in a single column
gni_melt = gni_simple.melt(id_vars=['Country'], var_name='Year', value_name='GNI')
gni_melt.head()


# Group by 'Country' and calculate the mean, min, and max of 'GNI' across all years
result = gni_melt.groupby('Country')['GNI'].agg(['mean', 'min', 'max'])

print(result)
'''
                       mean      min      max
Country
india           1286.086957    440.0   2380.0
italy          32536.086957  20770.0  37990.0
united states  52589.130435  35960.0  76370.0'''

print(gni_sub.columns)
#even though there is only one currency type for this dataset we will use it to group
# by country and currency type in order to demostrate grouping by two columns

#remove average gni and country numeric boolean column to avoid performing
#calculations incorrectly
gni_last = gni_sub.drop(columns = ['avg_gni','country numeric'])

#add the sum of the GNI for the years in the dataframe
gni_last["total_gni"] = gni_last.select_dtypes(include=np.number).sum(axis=1)
#grouping by country and currency type  the total gni for all years within the dataframe
group = gni_last.groupby(['Country', 'Currency Type'])['total_gni'].sum().reset_index()

# Sort the grouped data by total GNI for each country
sort = group.sort_values(by=['Country', 'total_gni'])

# Display the result
print(sort)

  Country Name                              Indicator Name    2000    2001  \
0  Afghanistan  GNI per capita, Atlas method (current US$)     NaN     NaN
1      Albania  GNI per capita, Atlas method (current US$)  1100.0  1280.0
2      Algeria  GNI per capita, Atlas method (current US$)  1610.0  1680.0
3      Andorra  GNI per capita, Atlas method (current US$)     NaN     NaN
4       Angola  GNI per capita, Atlas method (current US$)   360.0   390.0

     2002    2003    2004    2005    2006    2007  ...    2013    2014  \
0     NaN     NaN     NaN     NaN     NaN     NaN  ...   680.0   650.0
1  1370.0  1650.0  2100.0  2620.0  3050.0  3460.0  ...  4540.0  4540.0
2  1740.0  1940.0  2260.0  2730.0  3130.0  3620.0  ...  5540.0  5510.0
3     NaN     NaN     NaN     NaN     NaN     NaN  ...     NaN     NaN
4   590.0   710.0  1010.0  1370.0  1810.0  2460.0  ...  4650.0  4800.0

     2015    2016    2017    2018     2019    2020    2021    2022
0   610.0   570.0   540.0   520.0    530.0   500.0   390.0     NaN
1  4390.0  4320.0  4290.0  4860.0   5230.0  5270.0  6100.0  6770.0
2  4880.0  4400.0  3970.0  4010.0   4050.0  3610.0  3680.0  3900.0
3     NaN     NaN     NaN     NaN  46530.0     NaN     NaN     NaN
4  3880.0  2450.0  1980.0  1870.0   2040.0  1690.0  1650.0  1900.0

[5 rows x 25 columns]
     count  unique        top  freq
0     15.0    13.0      520.0   2.0
1     25.0    23.0     4360.0   2.0
2     25.0    25.0    Algeria   1.0
3      3.0     3.0    Andorra   1.0
4     25.0    25.0     Angola   1.0
..     ...     ...        ...   ...
188   17.0    17.0  Venezuela   1.0
189   25.0    25.0    Vietnam   1.0
190   21.0    20.0      840.0   2.0
191   25.0    23.0     1270.0   2.0
192   25.0    24.0     1200.0   2.0

[193 rows x 4 columns]
Country Name       0
Indicator Name     0
2000              16
2001              17
2002              11
2003              10
2004              10
2005              10
2006               9
2007               9
2008              10
2009               9
2010               6
2011               6
2012               7
2013               7
2014               6
2015               6
2016               6
2017               6
2018               6
2019               6
2020               9
2021              10
2022              19
dtype: int64
      Country Name                              Indicator Name     2000  \
72          Greece  GNI per capita, Atlas method (current US$)      NaN
83           India  GNI per capita, Atlas method (current US$)    440.0
89           Italy  GNI per capita, Atlas method (current US$)  21910.0
184  United States  GNI per capita, Atlas method (current US$)  35960.0

        2001     2002     2003     2004     2005     2006     2007  ...  \
72       NaN      NaN      NaN      NaN      NaN  24570.0  26370.0  ...
83     450.0    460.0    510.0    600.0    700.0    780.0    910.0  ...
89   21190.0  20770.0  23410.0  28360.0  32480.0  34280.0  35930.0  ...
184  36700.0  37310.0  39750.0  43510.0  46180.0  47830.0  48500.0  ...

        2013     2014     2015     2016     2017     2018     2019     2020  \
72   22430.0  22010.0  20190.0  18640.0  17960.0  19080.0  19690.0  17960.0
83    1500.0   1550.0   1590.0   1660.0   1800.0   1980.0   2080.0   1900.0
89   35570.0  34910.0  33000.0  31970.0  31380.0  33850.0  34930.0  32430.0
184  53990.0  55800.0  56620.0  57140.0  59220.0  63460.0  66130.0  64650.0

        2021     2022
72   20000.0  21740.0
83    2150.0   2380.0
89   36130.0  37700.0
184  70900.0  76370.0

[4 rows x 25 columns]
Index(['Country', 'Currency Type', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022'],
      dtype='object')
Country           object
Currency Type     object
2000             float64
2001             float64
2002             float64
2003             float64
2004             float64
2005             float64
2006             float64
2007             float64
2008             float64
2009             float64
2010             float64
2011             float64
2012             float64
2013             float64
2014             float64
2015             float64
2016             float64
2017             float64
2018             float64
2019             float64
2020             float64
2021             float64
2022             float64
dtype: object
Country          0
Currency Type    0
2000             1
2001             1
2002             1
2003             1
2004             1
2005             1
2006             0
2007             0
2008             0
2009             0
2010             0
2011             0
2012             0
2013             0
2014             0
2015             0
2016             0
2017             0
2018             0
2019             0
2020             0
2021             0
2022             0
dtype: int64
   Country                               Currency Type  2000  2001  2002  \
72  Greece  GNI per capita, Atlas method (current US$)   NaN   NaN   NaN

    2003  2004  2005     2006     2007  ...     2013     2014     2015  \
72   NaN   NaN   NaN  24570.0  26370.0  ...  22430.0  22010.0  20190.0

       2016     2017     2018     2019     2020     2021     2022
72  18640.0  17960.0  19080.0  19690.0  17960.0  20000.0  21740.0

[1 rows x 25 columns]
Country          0
Currency Type    0
2000             0
2001             0
2002             0
2003             0
2004             0
2005             0
2006             0
2007             0
2008             0
2009             0
2010             0
2011             0
2012             0
2013             0
2014             0
2015             0
2016             0
2017             0
2018             0
2019             0
2020             0
2021             0
2022             0
dtype: int64
           Country                               Currency Type          2000  \
72          Greece  GNI per capita, Atlas method (current US$)  22595.294118
83           India  GNI per capita, Atlas method (current US$)    440.000000
89           Italy  GNI per capita, Atlas method (current US$)  21910.000000
184  United States  GNI per capita, Atlas method (current US$)  35960.000000

             2001          2002          2003          2004          2005  \
72   22595.294118  22595.294118  22595.294118  22595.294118  22595.294118
83     450.000000    460.000000    510.000000    600.000000    700.000000
89   21190.000000  20770.000000  23410.000000  28360.000000  32480.000000
184  36700.000000  37310.000000  39750.000000  43510.000000  46180.000000

        2006     2007  ...     2014     2015     2016     2017     2018  \
72   24570.0  26370.0  ...  22010.0  20190.0  18640.0  17960.0  19080.0
83     780.0    910.0  ...   1550.0   1590.0   1660.0   1800.0   1980.0
89   34280.0  35930.0  ...  34910.0  33000.0  31970.0  31380.0  33850.0
184  47830.0  48500.0  ...  55800.0  56620.0  57140.0  59220.0  63460.0

        2019     2020     2021     2022       avg_gni
72   19690.0  17960.0  20000.0  21740.0  22595.294118
83    2080.0   1900.0   2150.0   2380.0   1286.086957
89   34930.0  32430.0  36130.0  37700.0  32536.086957
184  66130.0  64650.0  70900.0  76370.0  52589.130435

[4 rows x 26 columns]
Index(['Country', 'Currency Type', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       'avg_gni'],
      dtype='object')
Index(['Country', 'Currency Type', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       'avg_gni'],
      dtype='object')
           Country                               Currency Type     2001  \
83           India  GNI per capita, Atlas method (current US$)    450.0
89           Italy  GNI per capita, Atlas method (current US$)  21190.0
184  United States  GNI per capita, Atlas method (current US$)  36700.0

        2002     2003     2004     2005     2006     2007     2008  ...  \
83     460.0    510.0    600.0    700.0    780.0    910.0    990.0  ...
89   20770.0  23410.0  28360.0  32480.0  34280.0  35930.0  37980.0  ...
184  37310.0  39750.0  43510.0  46180.0  47830.0  48500.0  49100.0  ...

        2014     2015     2016     2017     2018     2019     2020     2021  \
83    1550.0   1590.0   1660.0   1800.0   1980.0   2080.0   1900.0   2150.0
89   34910.0  33000.0  31970.0  31380.0  33850.0  34930.0  32430.0  36130.0
184  55800.0  56620.0  57140.0  59220.0  63460.0  66130.0  64650.0  70900.0

        2022       avg_gni
83    2380.0   1286.086957
89   37700.0  32536.086957
184  76370.0  52589.130435

[3 rows x 25 columns]
184    United States
89             Italy
83             India
Name: Country, dtype: object
           Country                               Currency Type     2001  \
184  United States  GNI per capita, Atlas method (current US$)  36700.0
89           Italy  GNI per capita, Atlas method (current US$)  21190.0
83           India  GNI per capita, Atlas method (current US$)    450.0

        2002     2003     2004     2005     2006     2007     2008  ...  \
184  37310.0  39750.0  43510.0  46180.0  47830.0  48500.0  49100.0  ...
89   20770.0  23410.0  28360.0  32480.0  34280.0  35930.0  37980.0  ...
83     460.0    510.0    600.0    700.0    780.0    910.0    990.0  ...

        2014     2015     2016     2017     2018     2019     2020     2021  \
184  55800.0  56620.0  57140.0  59220.0  63460.0  66130.0  64650.0  70900.0
89   34910.0  33000.0  31970.0  31380.0  33850.0  34930.0  32430.0  36130.0
83    1550.0   1590.0   1660.0   1800.0   1980.0   2080.0   1900.0   2150.0

        2022       avg_gni
184  76370.0  52589.130435
89   37700.0  32536.086957
83    2380.0   1286.086957

[3 rows x 25 columns]
           Country                               Currency Type     2001  \
184  United States  GNI per capita, Atlas method (current US$)  36700.0
89           Italy  GNI per capita, Atlas method (current US$)  21190.0

        2002     2003     2004     2005     2006     2007     2008  ...  \
184  37310.0  39750.0  43510.0  46180.0  47830.0  48500.0  49100.0  ...
89   20770.0  23410.0  28360.0  32480.0  34280.0  35930.0  37980.0  ...

        2014     2015     2016     2017     2018     2019     2020     2021  \
184  55800.0  56620.0  57140.0  59220.0  63460.0  66130.0  64650.0  70900.0
89   34910.0  33000.0  31970.0  31380.0  33850.0  34930.0  32430.0  36130.0

        2022       avg_gni
184  76370.0  52589.130435
89   37700.0  32536.086957

[2 rows x 25 columns]
184    united states
89             italy
83             india
Name: Country, dtype: object
           Country  country numeric
184  united states            False
89           italy            False
83           india            False
                  2001                       2002                       2003  \
                  mean      min      max     mean      min      max     mean
Country
india            450.0    450.0    450.0    460.0    460.0    460.0    510.0
italy          21190.0  21190.0  21190.0  20770.0  20770.0  20770.0  23410.0
united states  36700.0  36700.0  36700.0  37310.0  37310.0  37310.0  39750.0

                                    2004  ...     2019     2020           \
                   min      max     mean  ...      max     mean      min
Country                                   ...
india            510.0    510.0    600.0  ...   2080.0   1900.0   1900.0
italy          23410.0  23410.0  28360.0  ...  34930.0  32430.0  32430.0
united states  39750.0  39750.0  43510.0  ...  66130.0  64650.0  64650.0

                           2021                       2022
                   max     mean      min      max     mean      min      max
Country
india           1900.0   2150.0   2150.0   2150.0   2380.0   2380.0   2380.0
italy          32430.0  36130.0  36130.0  36130.0  37700.0  37700.0  37700.0
united states  64650.0  70900.0  70900.0  70900.0  76370.0  76370.0  76370.0

[3 rows x 66 columns]
                       mean      min      max
Country
india           1324.545455    450.0   2380.0
italy          33019.090909  20770.0  37990.0
united states  53345.000000  36700.0  76370.0
Index(['Country', 'Currency Type', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       'avg_gni', 'country numeric'],
      dtype='object')
         Country                               Currency Type  total_gni
0          india  GNI per capita, Atlas method (current US$)    29140.0
1          italy  GNI per capita, Atlas method (current US$)   726420.0
2  united states  GNI per capita, Atlas method (current US$)  1173590.0

# Conclusions  

After exploring your dataset, provide a short summary of what you noticed from this dataset.  What would you explore further with more time?